### 1. check type

In [7]:
x = 1
type(x)

int

In [3]:
y = 1.
type(y)

float

In [4]:
z = 'hello'
type(z)

str

In [8]:
x

1

In [9]:
x += 1
x

2

In [10]:
x += 5
x

7

In [11]:
x **= 2
x

49

In [18]:
a, b, c = 1, 2., 'hello'
print("a={} b={} c={}".format(a,b,c))

a=1 b=2.0 c=hello

In [19]:
d = a == c or b != c
d

True

In [20]:
d1 = a == c and b != c
d1

False

In [21]:
d2 = not (a == c or b != c)
d2

False

In [25]:
d3 = not (a == c and b != c) and a == b
d3

False

In [27]:
x1 = None
d4 = x1 is None
d4

True

In [31]:
d5 = 'he' not in c
d5

False

### 2. string

In [32]:
c1 = "hello"
print(type(c))
print(type(c1))

<class 'str'>
<class 'str'>

In [33]:
c2 = """whehehe"""
type(c2)

str

In [34]:
c2.capitalize()

'Whehehe'

In [35]:
c2

'whehehe'

In [78]:
s = 'cong hoa xa  hoi chu  nghia viet nam vns'
s.count(' ')

10

In [51]:
len(s)

35

In [44]:
s[33]

'm'

In [45]:
s[-1]

'm'

In [56]:
idx = len(s)//2
s[idx-1: idx+2]

'u n'

In [62]:
s.replace(' ',' ')

'cong hoa xa hoi chu nghia viet nam vns'

In [58]:
s

'cong hoa xa hoi chu nghia viet nam vns'

In [79]:
s += 'gi gi do'
s

'cong hoa xa  hoi chu  nghia viet nam vnsgi gi do'

In [80]:
s *= 2
s

'cong hoa xa  hoi chu  nghia viet nam vnsgi gi docong hoa xa  hoi chu  nghia viet nam vnsgi gi do'

### 3. list

In [63]:
l1 = ['dadakdj', 12, [441, 'hafa'], (313,44), {212, '74984', 2.}]
type(l1)

list

In [64]:
l1[-1]

{2.0, 212, '74984'}

In [65]:
l1[2:4]

[[441, 'hafa'], (313, 44)]

##### slicing
list[start:end:step], string

In [66]:
l2 = l1[:]
l2

['dadakdj', 12, [441, 'hafa'], (313, 44), {2.0, 212, '74984'}]

In [67]:
l2[0] = 'other'
l2

['other', 12, [441, 'hafa'], (313, 44), {2.0, 212, '74984'}]

In [68]:
l1

['dadakdj', 12, [441, 'hafa'], (313, 44), {2.0, 212, '74984'}]

In [69]:
l3 = l1
l3

['dadakdj', 12, [441, 'hafa'], (313, 44), {2.0, 212, '74984'}]

In [70]:
l3[0] = 123
l3

[123, 12, [441, 'hafa'], (313, 44), {2.0, 212, '74984'}]

In [71]:
l1

[123, 12, [441, 'hafa'], (313, 44), {2.0, 212, '74984'}]

In [81]:
l4 = l1 + l2
l4

[123,
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 'other',
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'}]

In [82]:
l4 *=2
l4

[123,
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 'other',
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 123,
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 'other',
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'}]

In [87]:
l4[0] = 'changed'
l4

['changed',
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 'other',
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 123,
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 'other',
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'}]

### 4. tuple

In [83]:
t1 = (1,2,3,4)
type(t1)

tuple

In [84]:
t2 = t1[:-1]
t2

(1, 2, 3)

In [85]:
t3 = t1 + t2
t3

(1, 2, 3, 4, 1, 2, 3)

In [86]:
t3[0] = -1

TypeError: 'tuple' object does not support item assignment

In [89]:
x,y,z = t2
print('x={} y={} z={}'.format(x,y,z))

x=1 y=2 z=3

In [95]:
x1,_,_ = t2
print(x1)
print(_)

1
3

#### in operator

In [96]:
1 in t2

True

In [97]:
'changed' in l4

True

In [100]:
t4 = t2 * 2
t4

(1, 2, 3, 1, 2, 3)

#### list operator

In [140]:
l1

['list4',
 'list3',
 ['list1', 'list2'],
 'HKJAAK',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 123]

In [141]:
l1.append('HKJAAK')
l1

['list4',
 'list3',
 ['list1', 'list2'],
 'HKJAAK',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 123,
 'HKJAAK']

In [142]:
l1.append(['list1', 'list2'])
l1

['list4',
 'list3',
 ['list1', 'list2'],
 'HKJAAK',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 123,
 'HKJAAK',
 ['list1', 'list2']]

In [104]:
l1.extend(['list3', 'list4'])
l1

[123,
 12,
 [441, 'hafa'],
 (313, 44),
 {2.0, 212, '74984'},
 'HKJAAK',
 ['list1', 'list2'],
 'list3',
 'list4']

In [105]:
l1.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [108]:
l1.reverse()
l1

['list4',
 'list3',
 ['list1', 'list2'],
 'HKJAAK',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 12,
 123]

In [109]:
s

'cong hoa xa  hoi chu  nghia viet nam vnsgi gi docong hoa xa  hoi chu  nghia viet nam vnsgi gi do'

In [110]:
num = s.count(' ') + 1
num

25

In [113]:
len(s.split())

21

In [114]:
s.title()

'Cong Hoa Xa  Hoi Chu  Nghia Viet Nam Vnsgi Gi Docong Hoa Xa  Hoi Chu  Nghia Viet Nam Vnsgi Gi Do'

In [117]:
s1 = 'cong hoa xa  hoi chu      nghia viet nam       gi gi do'
s1.replace("  " or "  " or ""   ," ")

'cong hoa xa hoi chu   nghia viet nam    gi gi do'

In [118]:
s1.split()

['cong', 'hoa', 'xa', 'hoi', 'chu', 'nghia', 'viet', 'nam', 'gi', 'gi', 'do']

In [124]:
s2 = ' '.join(s1.split())
s2 = s2.title()
s2

'Cong Hoa Xa Hoi Chu Nghia Viet Nam Gi Gi Do'

In [128]:
s1

'cong hoa xa  hoi chu      nghia viet nam       gi gi do'

In [129]:
se1 = set(s1)
se1

{' ', 'a', 'c', 'd', 'e', 'g', 'h', 'i', 'm', 'n', 'o', 't', 'u', 'v', 'x'}

In [126]:
se2 = {}
for e in se1:
    se2[e] = s1.count(e)
    
se2

{'o': 4,
 ' ': 22,
 'u': 1,
 'e': 1,
 'h': 4,
 'd': 1,
 'n': 3,
 'c': 2,
 'v': 1,
 'g': 4,
 't': 1,
 'm': 1,
 'a': 4,
 'i': 5,
 'x': 1}

In [127]:
type(se2)

dict

In [130]:
se3 = {}
for e in s1:
    se3[e] = se3[e] + 1 if e in se3 else 1
se3

{'c': 2,
 'o': 4,
 'n': 3,
 'g': 4,
 ' ': 22,
 'h': 4,
 'a': 4,
 'x': 1,
 'i': 5,
 'u': 1,
 'v': 1,
 'e': 1,
 't': 1,
 'm': 1,
 'd': 1}

In [157]:
l1.extend([12,5,2,6])
l1

['list4',
 'list3',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 'HKJAAK',
 ['list1', 'list2'],
 12,
 5,
 2,
 6]

In [149]:
len(l1)

15

In [158]:
for it in l1:
    if type(it) == int:
        l1.remove(it)

In [159]:
l1

['list4',
 'list3',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 'HKJAAK',
 ['list1', 'list2'],
 5,
 6]

In [152]:
re = []
for it in l1:
    if type(it) == int:
        re.append(it)
re

[12, 2, 12, 2, 6]

In [154]:
for i in re:
    l1.remove(i)
l1

['list4',
 'list3',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 'HKJAAK',
 ['list1', 'list2']]

In [160]:
new = []
for it in l1:
    if type(it) != int:
        new.append(it)
new

['list4',
 'list3',
 {2.0, 212, '74984'},
 (313, 44),
 [441, 'hafa'],
 'HKJAAK',
 ['list1', 'list2']]

In [162]:
list(range(5))

[0, 1, 2, 3, 4]

In [163]:
for i in range(5):
    print(i)

0
1
2
3
4

In [164]:
for it in new:
    print(it)

list4
list3
{2.0, 212, '74984'}
(313, 44)
[441, 'hafa']
HKJAAK
['list1', 'list2']

In [165]:
for it in enumerate(new):
    print(it)

(0, 'list4')
(1, 'list3')
(2, {2.0, 212, '74984'})
(3, (313, 44))
(4, [441, 'hafa'])
(5, 'HKJAAK')
(6, ['list1', 'list2'])

In [166]:
# unpack
for idx, elem in enumerate(new):
    print('idx={} --- element={}'.format(idx, elem))

idx=0 --- element=list4
idx=1 --- element=list3
idx=2 --- element={2.0, 212, '74984'}
idx=3 --- element=(313, 44)
idx=4 --- element=[441, 'hafa']
idx=5 --- element=HKJAAK
idx=6 --- element=['list1', 'list2']