In [3]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.randint(10,size=5)) # tao ra mang random size
s1_random = np.random.rand(2,3,5) # 2 = number of matrix; 3 = rows; 5  columns
s1_random
#s11 = pd.Series(np.random.rand)

array([[[0.38571318, 0.43607591, 0.21930211, 0.17215027, 0.06760774],
        [0.30519884, 0.84282313, 0.01847881, 0.77184477, 0.38323757],
        [0.71645088, 0.54319747, 0.62494867, 0.93067437, 0.16213343]],

       [[0.47466551, 0.80808873, 0.19391437, 0.81645354, 0.51875562],
        [0.05559287, 0.92330263, 0.9663412 , 0.00702762, 0.77773597],
        [0.506274  , 0.7950709 , 0.18624468, 0.05563105, 0.39308648]]])

In [5]:
type(s1)
print(s1)

0    6
1    3
2    4
3    5
4    2
dtype: int64

In [7]:
s1[4]

2

In [10]:
s2 = pd.Series(np.random.randint(10,size=5), index=['a','b','c','d','e']) # tao ra mang random size
#with predefine index as a,b,c,d,e 
#what if index is not match the number of element? ==> ValueError: Length of passed values is 5, index implies 4.
s2

a    0
b    2
c    6
d    7
e    7
dtype: int64

In [11]:
s2[3] # truy xuất theo số thứ tự vị trí

7

In [12]:
s2['d'] # truy xuất bằng key như trong dictionary

7

In [17]:
s3 = pd.Series({'a':21,'b':23,'c':34,'d':13,'e':5})
s3

a    21
b    23
c    34
d    13
e     5
dtype: int64

In [19]:
s3['b']

23

In [21]:
s4 = pd.Series(3,index=[0,1,2,3,4,5])
s4

0    3
1    3
2    3
3    3
4    3
5    3
dtype: int64

Series act like a 1d array --> can slicing

In [23]:
s3[:'c'] #slicing tu gia tri dau tien ben trai --> c

a    21
b    23
c    34
dtype: int64

In [25]:
s5 = pd.Series(np.random.randint(10,size = 10), 
               index = ['hong','hoa','hue','tham','tuoi','nhung','lan','nga','uyen','ly'])
s5

hong     0
hoa      9
hue      1
tham     8
tuoi     4
nhung    7
lan      1
nga      5
uyen     2
ly       9
dtype: int64

In [27]:
s5['tham':'nga'] #slicing from tham to nga include nga and tham

tham     8
tuoi     4
nhung    7
lan      1
nga      5
dtype: int64

In [29]:
s5[3:8]

tham     8
tuoi     4
nhung    7
lan      1
nga      5
dtype: int64

In [31]:
#lay ra 1 vai gia tri / column
s5[['hoa','tham','nga']]

hoa     9
tham    8
nga     5
dtype: int64

In [33]:
s5.median()

4.5

In [37]:
s5[s5>5.0] # lay ra gia tri trong series >5

hoa      9
tham     8
nhung    7
ly       9
dtype: int64

In [40]:
s5[s5%2==0] #filter the element in series which are even (%2=0)

hong    0
tham    8
tuoi    4
uyen    2
dtype: int64

In [42]:
s5.max() #lay max

9

In [44]:
s5.min() #lay min

0

In [46]:
s5[s5>s5.median()]

hoa      9
tham     8
nhung    7
nga      5
ly       9
dtype: int64

In [48]:
t = s5>s5.median()
t

hong     False
hoa       True
hue      False
tham      True
tuoi     False
nhung     True
lan      False
nga       True
uyen     False
ly        True
dtype: bool

## Series is like a fixed-size dict in that you can get and set

In [50]:
s5.head(3)

hong    0
hoa     9
hue     1
dtype: int64

In [52]:
s5.head(-3) #lay tu dau cho den index gia tri -3 = tu cuoi (-1) di chuyen tiep ve ben trai (-2,-3)

hong     0
hoa      9
hue      1
tham     8
tuoi     4
nhung    7
lan      1
dtype: int64

In [54]:
s5.tail(-3)

tham     8
tuoi     4
nhung    7
lan      1
nga      5
uyen     2
ly       9
dtype: int64

## broadcasting

In [56]:
 sd = pd.Series({'mon':21,'tue':31,'wed':42,'thu':12, 'fri':52,'sat':45,'sun':14})
 sd

mon    21
tue    31
wed    42
thu    12
fri    52
sat    45
sun    14
dtype: int64

In [58]:
sd1 = sd[:'fri']
sd1

mon    21
tue    31
wed    42
thu    12
fri    52
dtype: int64

In [60]:
sd2 = sd['wed':]
sd2

wed    42
thu    12
fri    52
sat    45
sun    14
dtype: int64

In [63]:
sd3 = sd1*sd2 #2 series nay co chung nhau 3 phan tu fri,thu, wed --> tinh dc. nhung fan tu ko chung --> NaN
sd3

fri    2704.0
mon       NaN
sat       NaN
sun       NaN
thu     144.0
tue       NaN
wed    1764.0
dtype: float64

In [65]:
sd[sd>25]

tue    31
wed    42
fri    52
sat    45
dtype: int64

In [69]:
sd[(sd>25) & (sd<50)] #and in pandas filter

tue    31
wed    42
sat    45
dtype: int64

In [71]:
sd[(sd<25) | (sd>50)] #or in pandas filter

mon    21
thu    12
fri    52
sun    14
dtype: int64

In [74]:
sd[(sd>25) & ((sd<50)|(sd>70))]

tue    31
wed    42
sat    45
dtype: int64

## Missing Data

In [76]:
sd3.median()

1764.0

In [78]:
sd3.dropna()

fri    2704.0
thu     144.0
wed    1764.0
dtype: float64

In [80]:
sd3.fillna(0.1)

fri    2704.0
mon       0.1
sat       0.1
sun       0.1
thu     144.0
tue       0.1
wed    1764.0
dtype: float64

In [82]:
sd3.ffill() #fill gia tri NaN = gia tri truoc cua no. neu ko co gia tri trc do van giu NaN

fri    2704.0
mon    2704.0
sat    2704.0
sun    2704.0
thu     144.0
tue     144.0
wed    1764.0
dtype: float64

In [84]:
s = pd.Series({'mon':21,'tue':31,'wed':42,'thu':12, 'fri':52,'sat':45,'sun':14})
s.describe()

count     7.000000
mean     31.000000
std      15.853496
min      12.000000
25%      17.500000
50%      31.000000
75%      43.500000
max      52.000000
dtype: float64

In [86]:
s.max()

52

In [88]:
s.min()

12

In [90]:
s.argmax() #index of max value

4

In [92]:
s.sum()

217

In [94]:
s.cumsum() 
#sum of accumulative sum : sum from the beginning to mon = mon; to tue = mon + tue ; to wed= mon+tue+wed etc

mon     21
tue     52
wed     94
thu    106
fri    158
sat    203
sun    217
dtype: int64

In [96]:
s.prod()

10748687040

In [99]:
s.mean()

31.0

In [101]:
s.quantiles()

AttributeError: 'Series' object has no attribute 'quantiles'

In [105]:
n = np.random.randint(20,size = 15)
n.sort()
n

array([ 0,  1,  1,  4,  5,  7, 11, 13, 13, 13, 14, 15, 16, 16, 17])

In [107]:
s6 = pd.Series(n)
s6

0      0
1      1
2      1
3      4
4      5
5      7
6     11
7     13
8     13
9     13
10    14
11    15
12    16
13    16
14    17
dtype: int64

In [109]:
s6.quantile() 
#mac dinh la 0.5 lay fan tu co index o giua 15//2 = 7 
#(neu chia ra so chan thi lay gia tri o giua, neu so le thi lay 2 gia tri 2 ben cong lai chia 2)
#(index min + index max )*50% = 7

13.0

In [111]:
s6.quantile(.25) # fan tu co vi tri (indexmin + indexmax = 14/4 = 3.5 ==> lay 50%*index vi tri 3, + 50%vi tri 4

4.5

In [112]:
s6.quantile(.3)
#(idmin+idmax)*30% => 14*30% = 4.2 (vi tri nay gan voi index so 4 hon index so 5 ==> 80%* gtri o id4 + 20%*id5 = )
#80%*5 + 20%*7 = 5 + 1.4 = 5.4

5.4

## DataFrame

In [116]:
d = {'one':pd.Series([1., 2., 3.], index=['a','b','c']), #column one with value from a series 
     'two':pd.Series([1., 2., 3., 4.], index=['a','b','c','d'])} #column two with value from aseries
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [122]:
 d1={'one':[1.,2.,3.,4.], #dictoflist/darray 
     'two' : [4., 3., 2., 1.]}
d2 = [(1,2.,'Hello'), (2,3.,'World')] #structure
df1 = pd.DataFrame(d1) # index and columns argument
df2 = pd.DataFrame(d2) # are optional
print(df1)
print(df2)
#pd.DataFrame(d2, index=[‘l1’,’l2’], columns=[‘A’,’B’,’C’])
#create from list of dict, keys become the columns 
d3 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}] 
df3 = pd.DataFrame(d3, index=['1st','2nd'])
df4 = pd.DataFrame(d3, columns=['a','b'])

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0
   0    1      2
0  1  2.0  Hello
1  2  3.0  World

In [125]:
df1['one']

0    1.0
1    2.0
2    3.0
3    4.0
Name: one, dtype: float64

In [127]:
df2[0][1]

2

In [129]:
df3

     a   b     c
1st  1   2   NaN
2nd  5  10  20.0

In [132]:
 df4 = pd.DataFrame.from_dict(dict([('A', [1, 2, 3, 4]), ('B', [4, 5, 6, 7]),('C', [4, 5, 6, 8])]))

In [134]:
df4.index

RangeIndex(start=0, stop=4, step=1)

In [136]:
df4.columns

Index(['A', 'B', 'C'], dtype='object')

In [138]:
df4.shape

(4, 3)

## DataFrame: load file

In [143]:
dfi = pd.read_csv("iris.data")
dfi.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

## Data Frame Extraction

In [145]:
dfi['5.1'] # output is a series

0      4.9
1      4.7
2      4.6
3      5.0
4      5.4
      ...
144    6.7
145    6.3
146    6.5
147    6.2
148    5.9
Name: 5.1, Length: 149, dtype: float64

In [147]:
dfi['5.1'].describe()

count    149.000000
mean       5.848322
std        0.828594
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: 5.1, dtype: float64

In [150]:
dfi[['5.1','3.5']].head(10)

   5.1  3.5
0  4.9  3.0
1  4.7  3.2
2  4.6  3.1
3  5.0  3.6
4  5.4  3.9
5  4.6  3.4
6  5.0  3.4
7  4.4  2.9
8  4.9  3.1
9  5.4  3.7

In [151]:
dfi.loc[1]

5.1                    4.7
3.5                    3.2
1.4                    1.3
0.2                    0.2
Iris-setosa    Iris-setosa
Name: 1, dtype: object