In [1]:
#import the pandas and numpy
import pandas as pd
import numpy as np

In [4]:
#Create a Series with a list random int element without predefine index --> use default sequence index
s1 = pd.Series(np.random.randint(7,size =6))
print(s1)
#access to element by its index
print(s1[3])

0    0
1    2
2    1
3    4
4    1
5    6
dtype: int64
4

In [9]:
#Create a Series with random int element with predefine index, act like a key:value pair in dictionary
s2 = pd.Series(np.random.randint(8,size=7), index = ['a','b','c','g','h''l','o','p'])
print(s2)
#access to el. by its defined index
print(s2['g'])
#access to el. by its default index
print(s2[3])

a     4
b     7
c     2
g     2
hl    0
o     7
p     4
dtype: int64
2
2

In [10]:
# Create a Series with a dictionary:

In [24]:
s3 = pd.Series({'a':23,'b':12,'c':11,'d':7})
print(s3)
s3['b']
print('b' in s3)
print('s' in s3)

a    23
b    12
c    11
d     7
dtype: int64
True
False

In [14]:
#with the same element
s4 = pd.Series(3, index = [1,2,3,4,5,6])
print(s4)

1    3
2    3
3    3
4    3
5    3
6    3
dtype: int64

In [25]:
s5 = pd.Series(np.random.randn(9))
print(s5)
print(s5[:4])
print(s5[1:5])
print(s5[3:])

0    0.634788
1    0.595479
2    0.240127
3   -0.316226
4   -2.168742
5    0.934121
6   -0.894508
7   -0.726747
8    0.874855
dtype: float64
0    0.634788
1    0.595479
2    0.240127
3   -0.316226
dtype: float64
1    0.595479
2    0.240127
3   -0.316226
4   -2.168742
dtype: float64
3   -0.316226
4   -2.168742
5    0.934121
6   -0.894508
7   -0.726747
8    0.874855
dtype: float64

In [27]:
 s6 = pd.Series({'mon':21,'tue':31,'wed':42,'thu':12, 'fri':52,'sat':45,'sun':14})
s6

mon    21
tue    31
wed    42
thu    12
fri    52
sat    45
sun    14
dtype: int64

In [29]:
s6*2

mon     42
tue     62
wed     84
thu     24
fri    104
sat     90
sun     28
dtype: int64

In [32]:
print(s6[2:])
print(s6[:-1]) # bat dau tu vi tri cuoi cung ben tay phai, nhung ko bao gom vi tri nay = Sat, Fri, thu...

s7 = s6[2:] + s6[:-1]
s7

wed    42
thu    12
fri    52
sat    45
sun    14
dtype: int64
mon    21
tue    31
wed    42
thu    12
fri    52
sat    45
dtype: int64

fri    104.0
mon      NaN
sat     90.0
sun      NaN
thu     24.0
tue      NaN
wed     84.0
dtype: float64